{% extends 'clinica/base.html' %}
{% load static %}
{% block content %}
  <div class="card mb-3 container-fluid my-5" style="max-width: 1320px">
    <div class="row g-0">
      <div class="col-md-2">
        {% if atendimento.imagem == '' or atendimento.imagem == null %}
          <img src="{% static './images/not-found.png' %}" class="img-fluid rounded-start" />
        {% else %}
          <img src="{{ atendimento.imagem.url }}" class="img-fluid rounded-start" />
        {% endif %}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ atendimento.nome }}</h5>
          <p class="card-text">{{ atendimento.descricao }}</p>
          <a href="{% url 'nova_consulta' %}" class="btn btn-primary">Marcar Consulta</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
