{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marcar Consulta</title>
    <link rel="shortcut icon" href="{% static './images/icone.ico' %}" type="image/x-icon" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
  </head>
  <body class="bg-body-tertiary">
    <div class="container">
      <main>
        <div class="py-5 text-center">
          <img class="d-block mx-auto mb-4 w-25 h-25" src="{% static './images/logo_footer.jpg' %}"/>
          {% for message in messages %}
          <div class="alert alert-primary">
           <p id="messages">{{message}}</p>
          </div>
          {% endfor %}
          <h2>Marcar Consulta</h2>
        </div>
        <div>
          <div class="col-md-12 col-lg-12">
            <h4 class="mb-3">Preencha o formulário para marcar a consulta!</h4>
            <form action="{% url 'nova_consulta' %}" method="POST">
              {% csrf_token %}
              <p>Nome: {{ user.get_username }}</p>
              <div class="row g-3">
                {% for field in form.visible_fields %}
                  <div class="col-sm-12">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                  </div>
                {% endfor %}
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-success" style="margin-top: 5%;">Marcar Consulta</button>
              </div>

              <hr class="my-4" />
            </form>
          </div>
        </div>
      </main>

      <footer class="my-5 pt-5 text-body-secondary text-center text-small">
        <p class="mb-1">© 2024 - Clínica Pega Visão - Todos os direitos reservados - Desenvolvido por Enzo, Fabio e Leandro</p>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="{% url 'index' %}">Sair</a>
          </li>
        </ul>
      </footer>
    </div>
  </body>
</html>
