{% extends 'clinica/base.html' %}
{% load static %}
{% block content %}
  <!-- Banner -->
  <img src="{% static './images/banner1.png' %}" class="img-fluid w-100" alt="..." />
  <!-- Atendimento -->
  <div class="container text-center pt-3 pb-3">
    <h3>Atendimento Oftalmológico</h3>
    <p>Nossa experiência e comprometimento profissional aliados a uma ampla área de diagnósticos, procedimentos cirúrgicos e serviços especializados, garantem a cobertura ideal para qualquer tipo de tratamento de saúde ocular.</p>
    <!-- Cards -->
    <div class="gap-3 d-flex flex-wrap">
      {% if cards %}
      {% for atendimento in cards %}
      <div class="card p-0" style="max-width: 200px;">
        <img src="{% static './images/' %}{{atendimento.imagem}}" class="card-img-top card-img-bottom"/>
        <div class="card-body">
          <h5 class="card-title">{{atendimento.nome}}</h5>
          <a href="{% url 'atendimento' atendimento.id %}" class="btn btn-info">Saiba Mais</a>
        </div>
      </div>
      {% endfor %}
      {% else %}
      {% endif %}
    </div>
    <br />
    {% comment %} 
      <div class="card col p-0" style="width: 18rem">
        <img src="{% static './images/oftalmologia_geral.jpg' %}" class="card-img-top card-img-bottom" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Oftalmologia Geral</h5>
          <p class="card-text">
            <a href="#" class="btn btn-info"data-bs-toggle="modal" data-bs-target="#exampleModal">Saiba Mais</a>
          </p>
        </div>
      </div>
      <div class="card col p-0" style="width: 18rem">
        <img src="{% static './images/oftalmopediatria.jpg' %}" class="card-img-top card-img-bottom" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Oftalmopediatria</h5>
          <a href="#" class="btn btn-info"data-bs-toggle="modal" data-bs-target="#exampleModal">Saiba Mais</a>
        </div>
      </div>
      <div class="card col p-0" style="width: 18rem">
        <img src="{% static './images/plastica_ocular.jpg' %}" class="card-img-top card-img-bottom" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Plastica Ocular</h5>
          <a href="#" class="btn btn-info"data-bs-toggle="modal" data-bs-target="#exampleModal">Saiba Mais</a>
        </div>
      </div>
    </div> 
    {% endcomment %}
  </div>
  <!-- WhatsApp -->
  <div class="card mb-3 container-fluid" style="max-width: 1320px">
    <div class="row g-0">
      <div class="col-md-1 pt-3">
        <img src="{% static './images/icone_consulta.jpg' %}" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Consulta com um oftalmologista?</h5>
          <p class="card-text">
            Caso necessite de atendimento oftalmológico em SP, clique e converse diretamente com nossa equipe via WhatsApp: <br /><br />
            Segunda a Sexta: 8h – 17hs <br />
            Sábados: 8h – 12hs <br /><br />
            Consultas somente com hora marcada Atendimento durante horário comercial
          </p>
        </div>
      </div>
      <div class="col-md-5 align-self-center">
        <div class="card-body text-center">
          <a href="#" class="btn btn-success w-50">
            <img src="{% static './images/whatsapp.png' %}" class="img-fluid w-25 p-1" />
            Fale no Whatsapp
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Conheça a clinica -->
  <div class="card mb-3 container-fluid" style="max-width: 1320px">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{% static './images/clinica.jpg' %}" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Conheça nossa clínica de olhos em São Paulo</h5>
          <p class="card-text">A Clínica Pega Visão atua na área de oftalmologia desde 2023, oferecendo exames, cirurgias e consultas oftalmológicas em São Paulo aliados aos melhores profissionais do Brasil e do mundo.</p>
          <p class="card-text">
            <small class="text-body-secondary">Conheça um pouco mais sobre nossa história e trajetória através dos anos.</small>
          </p>
          <a href="{% url 'sobre' %}" class="btn btn-info">Sobre nós</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Convenios -->
  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom text-center">Convênios e Planos de Saúde</h2>
    <p class="text-center">Na Clínica Pega Visão, prezamos pela conveniência de nossos pacientes, por isso trabalhamos com os principais convênios e seguros de saúde. Clique no botão abaixo e consulte a lista completa dos convênios que aceitamos.</p>
    <div class="row bg-white">
      <div class="col-6 col-md-2 p-2">
        <img src="{% static './images/bradesco_saude.png' %}" class="img-fluid" alt="..." />
      </div>
      <div class="col-6 col-md-2 p-2">
        <img src="{% static './images/itau_porto.png' %}" class="img-fluid" alt="..." />
      </div>
      <div class="col-6 col-md-2 p-2">
        <img src="{% static './images/unimed.png' %}" class="img-fluid" alt="..." />
      </div>
      <div class="col-6 col-md-2 p-2">
        <img src="{% static './images/sulamerica_saude.png' %}" class="img-fluid" alt="..." />
      </div>
      <div class="text-center col-6 col-md-2 p-2">
        <img src="{% static './images/portoseguro.png' %}" class="img-fluid" alt="..." />
      </div>
      <div class="text-center col-6 col-md-2 p-2">
        <img src="{% static './images/unafisco.jpg' %}" class="img-fluid" alt="..." />
      </div>
    </div>
  </div>
{% endblock %}