{% extends 'clinica/base.html' %}
{% load static %}
{% block content %}
  <div class="gap-3 container d-flex flex-wrap  py-3">
    {% if cards %}
      {% for consulta in cards %}
        <div class="card" style="width: 400px;">
          <div class="card-body">
            <h5 class="card-title">{{ consulta.usuario }}</h5>
            <p class="card-text">Consulta: {{ consulta.consulta }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Doutor: {{ consulta.doutor }}</li>
            <li class="list-group-item">Data e hora: {{ consulta.data }}</li>
            <li class="list-group-item">Descrição: {{ consulta.descricao }}</li>
          </ul>
        </div>
      {% endfor %}
    {% else %}

    {% endif %}
  </div>
{% endblock %}
